.search-results div {
    padding: 5px;
    cursor: pointer;
}
.search-results div:hover {
    background-color: #d2c1ab;
}

.open5e-button {
    width: 95%;
    border: 1px solid var(--color-border-dark-primary);
    border-radius: 3px;
    margin-left: 5px;
    padding: 5px 5px;
    background-color: #282828;
    color: white;
    cursor: pointer;
    text-align: center;
    }


.open5e-button:hover {
    background-color: #3c3c3c;
}
